.pagination-container {
  display: flex;
  max-width: 430px;
  float: right;
  margin-right: 0px;
}

.pagination-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #979797;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 12px 14px;
  position: static;
  width: 44px;
  height: 44px;
  background: #ffffff;
  border: none;
  margin: 0px 5px;
}

.active {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px 14px;

  position: static;
  width: 44px;
  height: 44px;

  background: #1d1d1b;
  color: #ffffff;
  border: none;

  margin: 0px 5px;
}
