.div-of-cart-page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cart-shop-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  margin: 0px 0px 16px;
  color: #393939;
}

.cart-shop-empty-text {
  margin-bottom: 48px;
}

.cart-shop-empty-text span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #393939;
}

.div-of-cart-items {
  width: 768px;
}
.div-of-cart-total-count {
  width: 384px;
  height: 311px;
}

.cart-item-inner-div {
  width: 768px;
  height: 166px;
  background-color: #ffffff;

  padding: 12px;
  margin: 0px 0px 8px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.cart-image-div {
  width: 112px;
  height: 142px;
}

.cart-image {
  width: 112px;
  height: 142px;
}

.cart-details-div {
  width: 610px;
  height: 142px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  justify-content: start;
}

.cart-item-title {
  margin: 0px 0px 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;

  color: #393939;
}

.cart-item-size-text {
  margin: 0px 0px 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  text-align: justify;

  color: #7c7c7c;
}

.cart-item-size-text span {
  margin-left: 4px;
}

.cart-tem-color-div-prod {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;

  color: #7c7c7c;

  margin: 0px 0px 6px;
}

.cart-item-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-align: justify;

  color: #393939;

  margin: 0px 0px 12px;
}

.cart-item-price span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  text-decoration-line: line-through;
  color: #adadad;
  margin-left: 6px;
}

.cart-item-div-of-button {
  width: 120px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.cart-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  width: 32px;
  height: 32px;

  background: #f8f8f8;
  border: 1px solid #efefef;
  border-radius: 6px;
}

.cart-item-minus {
  width: 12px;
  height: 1.98px;
  left: calc(50% - 12px / 2 + 0px);
  top: calc(50% - 1.98px / 2 - 0.01px);
  background: #979797;
}

.cart-item-plus {
  width: 12px;
  height: 12px;
}

.cart-item-div-of-button span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #393939;

  border-radius: 2.23404px;
}

.close-icon {
  position: absolute;
  margin-left: 730px;
}

.cart-shop-total-item-div {
  display: flex;
  flex-direction: column;
  padding: 24px;

  position: static;
  width: 384px;
  height: 311px;
  left: 784px;
  top: 0px;

  background: #ffffff;
}

.cart-shop-total-item-div h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #393939;

  margin: 0px 0px 16px;
}

.cart-shop-total-item-div-div {
  border-bottom: 1px dashed #bfbfbf;
  margin-bottom: 24px;
  padding-bottom: 12px;
}

.cart-shop-total-item-inner-div {
  display: flex;
  justify-content: space-between;
}
.cart-shop-total-p {
  margin-bottom: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #979797;
}

.cart-shop-total-span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #393939;
}
.cart-ofer-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px 13px;

  background: #e5271b;
  border: none;

  width: 100%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}
